@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Application is using MVC template. It uses Microsoft SQL Express 2017 Database.<br />
    I was working on this project by using this tutorial: http://www.promise.pl/BlogIT/Czerwiec-2017/Budowanie-aplikacji-typu-CRUD-przy-pomocy-ASP-NET
</p>
