@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Because of GPDR i herebly refuse to give you my personal address :)<br />
        <abbr title="Phone">P:</abbr>
    609.577.551
</address>

<address>
    <strong>Support:</strong> <a href="mailto:github@kruszynscy.pl">github@kruszynscy.pl</a><br />
</address>
